/* Working responsive design flex grid */
/* @author	David Grummer */
/* Inspired by David Connor */
/* http://codepen.io/davidicus/pen/vxIra/ */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div[class*="ui-block"] {
	/* background: #ECF0F1; */
	display: inline-block;
	margin: 1em 0;
	padding: 0.5em;
	vertical-align: top;
	float: none;
}

/* Used to make removing dummy/filler nodes easily */
.dummydeleteme { border-color: pink; background-color: white; }

/* Stack all blocks to start */
.rwd-example .ui-block-a,
.rwd-example .ui-block-b,
.rwd-example .ui-block-c,
.rwd-example .ui-block-d,
.rwd-example .ui-block-e {
	width: 100%;
}
